.signin-page
    height: 100%
    width: 100%
    .wrapper
        height: 100%
    .menu
        margin: 0
    .back
        background-color: #343434
        position: fixed
        min-width: 100%
        min-height: 100%
        z-index: -1
    footer
        color: #a3a3a3
        font-size: 14px
        padding-bottom: 24px
        padding-top: 40px
        width: 100%
        p
            display: flex
            margin: 0
            padding: 0
            justify-content: space-between

.content-signin
    min-height: 100%
    min-width: 100%
    display: flex
    padding-top: 20px
    justify-content: space-between
    flex-direction: column
    box-sizing: border-box
    .menu
        margin-bottom: 0
        display: block
        text-align: left
.signin-form
    margin: 100px auto
    max-width: 328px
    margin-bottom: auto
    padding: 0
    input
        font-size: 18px
        line-height: 24px
        width: 100%
    .input-submit
        margin: 0
        font-size: 18px
        line-height: 24px
        margin-top: 20px
    &-links
        color: #00a1dc
        width: 100%
        margin-top: 24px
        font-size: 14px
        p
            margin: 0
            padding: 0
        a
            cursor: pointer
            color: #00a1dc
    &-title
        text-align: left
        h1
            color: white
            font-size: 36px
            margin: 0
            padding: 0
            margin-bottom: 10px
            font-weight: bold
    &-hint
        color: white
        line-height: 24px
        font-size: 18px
    &-inputs
        margin-top: 20px
        input
            margin-bottom: 16px
        div
            &:last-child > input
                margin: 0
    &-second-hint
        color: white
        text-align: left
        font-size: 12px
        line-height: 16px
        margin-top: 5px