@media screen and (max-width: 1200px) and (min-width: 992px) {
  .main-page .tabs-item {
    font-size: 28px; }
  .main-page .block-application-desktop, .main-page .block-loan-desktop {
    font-size: 16px;
    min-height: 26px; }
  .main-page-list .entity-list:nth-child(2) {
    margin-top: 55px;
    margin-bottom: 35px; } }

@media screen and (max-width: 991px) and (min-width: 768px) {
  .main-page .block-application, .main-page .block-loan {
    padding: 10px; }
  .main-page .block-application-desktop, .main-page .block-loan-desktop {
    display: none; }
  .main-page .block-application-mobile, .main-page .block-loan-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .main-page .tabs {
    justify-content: space-between; }
    .main-page .tabs-item {
      margin: 0;
      margin-bottom: 10px;
      justify-content: space-between; }
      .main-page .tabs-item span {
        font-size: 14px;
        line-height: 20px; }
      .main-page .tabs-item h3 {
        font-size: 24px; }
  .main-page .applications-columns, .main-page .loans-columns {
    display: none; }
  .main-page .block-loan-mobile-no-1c {
    display: flex; }
  .main-page .content-main {
    padding-top: 0; }
  .main-page .entity-list:nth-child(2) {
    margin-top: 45px;
    margin-bottom: 25px; }
  .main-page .entity-list-message {
    font-size: 16px; }
  .main-page .entity-list-loader-desktop {
    display: none; }
  .main-page .entity-list-loader-mobile {
    display: inline; } }

@media screen and (max-width: 767px) {
  .main-page .block-application, .main-page .block-loan {
    padding: 10px; }
  .main-page .block-application-desktop, .main-page .block-loan-desktop {
    display: none; }
  .main-page .block-application-mobile, .main-page .block-loan-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .main-page .tabs {
    justify-content: space-between; }
    .main-page .tabs-item {
      margin: 0;
      margin-bottom: 10px;
      font-size: 24px;
      justify-content: space-between; }
      .main-page .tabs-item span {
        font-size: 14px;
        line-height: 20px; }
      .main-page .tabs-item h3 {
        font-size: 24px; }
  .main-page .applications-columns, .main-page .loans-columns {
    display: none; }
  .main-page .block-loan-mobile-no-1c {
    display: flex; }
  .main-page .content-main {
    padding-top: 0; }
  .main-page .entity-list:nth-child(2) {
    margin-top: 35px;
    margin-bottom: 15px; }
  .main-page .entity-list-message {
    font-size: 14px; }
  .main-page .entity-list-loader-desktop {
    display: none; }
  .main-page .entity-list-loader-mobile {
    display: inline; } }
