@media screen and (max-width: 1200px) and (min-width: 992px)
    .main-page
        .tabs-item
            font-size: 28px
        .block-application-desktop, .block-loan-desktop
            font-size: 16px
            min-height: 26px
        &-list
            .entity-list
                &:nth-child(2)
                    margin-top: 55px
                    margin-bottom: 35px
@media screen and (max-width: 991px) and (min-width: 768px)
    .main-page .content-main-footer
        // display: flex
    .main-page
        padding: 20px 0
        .block-application, .block-loan
            padding: 10px
        .block-application-desktop, .block-loan-desktop
            display: none
        .block-application-mobile, .block-loan-mobile
            display: flex
            flex-direction: column
            justify-content: space-between
        .tabs
            justify-content: space-between
            &-item
                margin: 0
                margin-bottom: 16px
                font-size: 24px
        .applications-columns, .loans-columns
            display: none
        .block-loan-mobile-no-1c
            display: flex
        .content-main
            padding-top: 20px
        &-list
            .entity-list
                &:nth-child(2)
                    margin-top: 45px
                    margin-bottom: 25px
                span.tabs-item
                    font-size: 16px
@media screen and (max-width: 767px)
    .main-page
        padding: 20px 0
        .content-main-footer
            // display: flex
        .block-application, .block-loan
            padding: 10px
        .block-application-desktop, .block-loan-desktop
            display: none
        .block-application-mobile, .block-loan-mobile
            display: flex
            flex-direction: column
            justify-content: space-between
        .tabs
            justify-content: space-between
            &-item
                margin: 0
                margin-bottom: 16px
                font-size: 24px
        .applications-columns, .loans-columns
            display: none
        .block-loan-mobile-no-1c
            display: flex
        .content-main
            padding-top: 20px
        &-list
            .entity-list
                &:nth-child(2)
                    margin-top: 35px
                    margin-bottom: 15px
                span.tabs-item
                    font-size: 14px