.main-page
    height: 100%
    width: 100%
    .wrapper
        height: 100%
        width: 100%
        max-width: 400px
        // padding: 0 40px
        .tabs
            display: flex
            width: 100%
            flex-direction: row
            align-items: flex-end
            line-height: .8
            justify-content: space-between
            margin-bottom: 10px
            &-item
                font-size: 24px
                font-weight: 600
                color: #343434
                cursor: pointer

.content-main
    min-height: 100%
    padding: 20px 0
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: space-between
    .block-loan
        min-height: 123px
        box-sizing: border-box
    .block-application
        min-height: 96px
        box-sizing: border-box
    .application-info
        font-size: 14px
        line-height: 1.43
        color: #343434
        text-align: left
        margin-bottom: 15px
    .loan-info
        font-size: 14px
        line-height: 1.43
        color: #343434
        text-align: left
        margin-bottom: 15px
        p:first-child
            font-weight: 500
    .loan-payment
        display: flex
        flex-wrap: wrap
        font-size: 24px
        text-align: left
        color: #343434
        margin-bottom: 5px
        span:nth-child(2)
            padding: 0 5px
    .loan-under, .application-under
        font-size: 14px
        color: #343434
        display: flex
        justify-content: space-between
    .loans-not-found, .applications-not-found
        padding: 48px
    &-footer
        input
            width: 100%
            cursor: pointer