@media screen and (max-width: 1200px) and (min-width: 992px) {
  .block-row {
    margin-bottom: 12px; } }

@media screen and (max-width: 991px) and (min-width: 768px) {
  .block-row {
    margin-bottom: 10px; } }

@media screen and (max-width: 767px) {
  .block {
    font-size: 14px; }
    .block-row {
      margin-bottom: 10px; } }
