.pay-page {
  min-height: 100%;
  width: 100%; }
  .pay-page .wrapper {
    min-height: 100%; }

.content-pay {
  min-height: 100%;
  padding: 15px 0;
  display: flexbox;
  flex-direction: column;
  box-sizing: border-box; }
  .content-pay p.grey {
    text-align: left;
    line-height: 1.43;
    font-size: 14px;
    width: calc(100% - 12px); }
  .content-pay .qr-code {
    background-color: #343434;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px; }
  .content-pay h3 {
    text-align: left;
    font-size: 18px; }
