@media screen and (max-width: 1200px) and (min-width: 992px)
    .loan-page
        .block-loan
            padding: 10px !important
            &-row
                margin-bottom: 12px !important
        .loan-history
@media screen and (max-width: 991px) and (min-width: 768px)
    .loan-page
        padding: 20px 0
        .content-loan
            padding-top: 20px
        .block-loan
            padding: 10px !important
            &-row
                margin-bottom: 10px !important
        .blocks-loan
            flex-direction: column
            .blocks-loan-1, .blocks-loan-2
                width: 100%
        .loan-payment
            margin-bottom: 4px !important
        .loan-history
@media screen and (max-width: 767px)
    .loan-page
        padding: 20px 0
        .content-loan
            padding-top: 20px
        .block-loan
            font-size: 14px !important
            padding: 10px !important
            &-row
                margin-bottom: 10px !important
        .blocks-loan
            flex-direction: column
            .blocks-loan-1, .blocks-loan-2
                width: 100%
        .loan-payment
            margin-bottom: 4px !important
        .loan-history
            font-size: 14px !important