@media screen and (max-width: 1200px) and (min-width: 992px) {
  .loan-page .block-loan {
    padding: 10px !important; }
    .loan-page .block-loan-row {
      margin-bottom: 12px !important; } }

@media screen and (max-width: 991px) and (min-width: 768px) {
  .loan-page .content-loan {
    padding-top: 0; }
  .loan-page .blocks-body {
    padding: 15px;
    flex-direction: column-reverse; }
    .loan-page .blocks-body .block-side {
      width: 100%; } }

@media screen and (max-width: 767px) {
  .loan-page .blocks-body {
    padding: 15px;
    flex-direction: column-reverse; }
    .loan-page .blocks-body .block-side {
      width: 100%; }
  .loan-page .content-loan {
    padding-top: 0; } }
