.loan-page {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.content-loan {
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 20px 0;
  padding-top: 28px;
  flex-direction: column;
  justify-content: space-between; }
  .content-loan .document-block {
    background-color: #f9f9f9;
    padding: 10px 15px;
    text-align: left;
    border-radius: 4px;
    margin-bottom: 10px;
    line-height: 20px; }
    .content-loan .document-block-title {
      font-weight: 600; }
  .content-loan .blocks-body {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 40px;
    border-radius: 4px;
    box-shadow: 0 6px 12px 0 rgba(0, 161, 220, 0.05), 0 1px 2px 0 rgba(0, 161, 220, 0.1); }
    .content-loan .blocks-body .blocks-side {
      display: flex;
      width: 43%;
      flex-direction: column; }
      @media screen and (max-width: 991px) {
        .content-loan .blocks-body .blocks-side {
          width: 100%; }
          .content-loan .blocks-body .blocks-side:first-child > .block:last-child {
            border: 0;
            margin-bottom: 0; } }
      .content-loan .blocks-body .blocks-side .block {
        border-bottom: 1px solid #ececec;
        margin-bottom: 20px; }
        @media screen and (min-width: 991px) {
          .content-loan .blocks-body .blocks-side .block:last-child {
            margin-bottom: 0;
            border: 0; } }
    .content-loan .blocks-body .loan-pay {
      padding: 15px;
      border-radius: 4px;
      background-color: #f9f9f9; }
      @media screen and (max-width: 991px) {
        .content-loan .blocks-body .loan-pay {
          padding: 10px; } }
      .content-loan .blocks-body .loan-pay-overdue {
        background-color: #F6D9DA; }
      .content-loan .blocks-body .loan-pay .loan-payment {
        display: flex;
        flex-wrap: wrap;
        font-size: 24px;
        text-align: left;
        color: #343434;
        margin-bottom: 8px; }
        .content-loan .blocks-body .loan-pay .loan-payment span:nth-child(2) {
          padding: 0 5px; }
        @media screen and (max-width: 767px) {
          .content-loan .blocks-body .loan-pay .loan-payment {
            font-size: 20px; } }
      .content-loan .blocks-body .loan-pay .loan-under {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px; }
        .content-loan .blocks-body .loan-pay .loan-under span {
          cursor: pointer; }
        .content-loan .blocks-body .loan-pay .loan-under:last-child {
          margin-bottom: 0; }
      .content-loan .blocks-body .loan-pay .loan-more {
        margin-top: 6px; }
        .content-loan .blocks-body .loan-pay .loan-more tr > td {
          text-align: left; }
          .content-loan .blocks-body .loan-pay .loan-more tr > td:first-child {
            padding-right: 2px;
            text-align: right; }
    .content-loan .blocks-body .loan-history {
      text-align: left;
      margin-top: 20px; }
      @media screen and (max-width: 991px) {
        .content-loan .blocks-body .loan-history {
          padding: 0;
          margin-top: 0; } }
      .content-loan .blocks-body .loan-history p {
        line-height: 1.4; }
      .content-loan .blocks-body .loan-history-row {
        margin-bottom: 10px; }
        .content-loan .blocks-body .loan-history-row div:first-child {
          display: flex;
          justify-content: space-between; }
          .content-loan .blocks-body .loan-history-row div:first-child div {
            max-width: 60%; }
        .content-loan .blocks-body .loan-history-row:last-child {
          margin-bottom: 0; }
  .content-loan .block-list-top {
    color: #00a1dc;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px; }
  .content-loan .blocks-loan {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }
    .content-loan .blocks-loan .blocks-loan-1, .content-loan .blocks-loan .blocks-loan-2 {
      display: flex;
      width: 46%;
      flex-direction: column; }
    .content-loan .blocks-loan .block-loan {
      width: 100%;
      font-size: 16px;
      padding: 16px; }
      .content-loan .blocks-loan .block-loan-row {
        text-align: left;
        display: flex;
        margin-bottom: 16px; }
        .content-loan .blocks-loan .block-loan-row:first-child > div {
          width: 100%; }
        .content-loan .blocks-loan .block-loan-row:last-child {
          margin-bottom: 0 !important; }
        .content-loan .blocks-loan .block-loan-row div {
          width: 50%; }
          .content-loan .blocks-loan .block-loan-row div p {
            line-height: 1.4;
            word-break: break-word; }
  .content-loan .mb-20 {
    margin-bottom: 20px; }
