@media screen and (max-width: 991px) and (min-width: 768px) {
  .application-page .content-application {
    padding-top: 0; }
  .application-page .blocks-body {
    padding: 15px;
    flex-direction: column; }
    .application-page .blocks-body .block-side {
      width: 100%; }
  .application-page .application-payment {
    margin-bottom: 4px !important; } }

@media screen and (max-width: 767px) {
  .application-page .content-application {
    padding-top: 0; }
  .application-page .blocks-body {
    padding: 15px;
    flex-direction: column; }
    .application-page .blocks-body .block-side {
      width: 100%; }
  .application-page .application-payment {
    margin-bottom: 4px !important; }
  .application-page .application-history {
    font-size: 14px !important; } }
