@media screen and (max-width: 1200px) and (min-width: 992px)
    .application-page
        .block-application
            padding: 10px !important
            &-row
                margin-bottom: 12px !important
        .application-history
@media screen and (max-width: 991px) and (min-width: 768px)
    .application-page
        // padding: 20px 0
        .content-application
            padding-top: 0
        .block-application
            padding: 10px !important
            &-row
                margin-bottom: 10px !important
        .blocks-application
            flex-direction: column
            .blocks-application-1, .blocks-application-2
                width: 100%
        .application-payment
            margin-bottom: 4px !important
        .application-history
@media screen and (max-width: 767px)
    .application-page
        // padding: 20px 0
        .content-application
            padding-top: 0
        .block-application
            font-size: 14px !important
            padding: 10px !important
            &-row
                margin-bottom: 10px !important
        .blocks-application
            flex-direction: column
            .blocks-application-1, .blocks-application-2
                width: 100%
        .application-payment
            margin-bottom: 4px !important
        .application-history
            font-size: 14px !important