.application-page {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.content-application {
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 20px 0;
  padding-top: 28px;
  flex-direction: column;
  justify-content: space-between; }
  .content-application .document-block {
    background-color: #f9f9f9;
    padding: 10px 15px;
    text-align: left;
    border-radius: 4px;
    margin-bottom: 10px;
    line-height: 20px; }
    .content-application .document-block-title {
      font-weight: 600; }
  .content-application .application-documents {
    margin: 10px 0; }
  .content-application .blocks-body {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 40px;
    border-radius: 4px;
    box-shadow: 0 6px 12px 0 rgba(0, 161, 220, 0.05), 0 1px 2px 0 rgba(0, 161, 220, 0.1); }
    .content-application .blocks-body .blocks-side {
      display: flex;
      width: 43%;
      flex-direction: column; }
      @media screen and (max-width: 991px) {
        .content-application .blocks-body .blocks-side {
          width: 100%; }
          .content-application .blocks-body .blocks-side:last-child > .block:last-child {
            border: 0;
            margin-bottom: 0; } }
      .content-application .blocks-body .blocks-side .block {
        border-bottom: 1px solid #ececec;
        margin-bottom: 20px; }
        @media screen and (min-width: 991px) {
          .content-application .blocks-body .blocks-side .block:last-child {
            margin-bottom: 0;
            border: 0; } }
      .content-application .blocks-body .blocks-side .application-payment {
        display: flex;
        flex-wrap: wrap;
        font-size: 24px;
        text-align: left;
        color: #343434;
        margin-bottom: 8px; }
        .content-application .blocks-body .blocks-side .application-payment span:nth-child(2) {
          padding: 0 5px; }
      .content-application .blocks-body .blocks-side .application-under > p {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px; }
        .content-application .blocks-body .blocks-side .application-under > p span {
          cursor: pointer; }
        .content-application .blocks-body .blocks-side .application-under > p:last-child {
          margin-bottom: 0; }
      .content-application .blocks-body .blocks-side .application-more {
        margin-top: 6px; }
        .content-application .blocks-body .blocks-side .application-more tr > td {
          text-align: left; }
          .content-application .blocks-body .blocks-side .application-more tr > td:first-child {
            padding-right: 2px;
            text-align: right; }
    .content-application .blocks-body .application-list-of {
      text-align: left;
      font-size: 16px;
      margin-bottom: 20px; }
      @media screen and (max-width: 767px) {
        .content-application .blocks-body .application-list-of {
          font-size: 14px; } }
      .content-application .blocks-body .application-list-of p {
        line-height: 1.4; }
      .content-application .blocks-body .application-list-of h4 {
        margin-bottom: 10px;
        font-size: 20px; }
        @media screen and (max-width: 767px) {
          .content-application .blocks-body .application-list-of h4 {
            font-size: 14px;
            margin-bottom: 5px; } }
      .content-application .blocks-body .application-list-of div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .content-application .blocks-body .application-list-of div:first-child div {
          max-width: 60%; }
      .content-application .blocks-body .application-list-of-row {
        margin-bottom: 10px; }
        .content-application .blocks-body .application-list-of-row:last-child {
          margin-bottom: 0; }
      .content-application .blocks-body .application-list-of .application-info {
        margin-bottom: 10px; }
        .content-application .blocks-body .application-list-of .application-info:last-child {
          margin-bottom: 0; }
  .content-application .mb-20 {
    margin-bottom: 20px; }
