.application-page {
  height: 100%;
  width: 100%; }
  .application-page .wrapper {
    height: 100%; }

.content-application {
  height: 100%;
  padding: 20px 0;
  box-sizing: border-box; }
  .content-application .block-loan-row {
    text-align: left;
    display: flex;
    margin-bottom: 10px; }
    .content-application .block-loan-row:first-child > div {
      width: 100%; }
    .content-application .block-loan-row:last-child {
      margin-bottom: 0; }
    .content-application .block-loan-row div {
      width: 50%; }
      .content-application .block-loan-row div p {
        line-height: 1.4; }
  .content-application .block-loan .loan-payment {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    text-align: left;
    color: #343434;
    margin-bottom: 4px; }
    .content-application .block-loan .loan-payment span:nth-child(2) {
      padding: 0 5px; }
  .content-application .block-loan .loan-under > p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px; }
    .content-application .block-loan .loan-under > p span {
      cursor: pointer; }
    .content-application .block-loan .loan-under > p:last-child {
      margin-bottom: 0; }
  .content-application .block-loan .loan-more {
    margin-top: 6px; }
    .content-application .block-loan .loan-more tr > td {
      text-align: left; }
      .content-application .block-loan .loan-more tr > td:first-child {
        padding-right: 2px;
        text-align: right; }
  .content-application .loan-history {
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px; }
    .content-application .loan-history p {
      line-height: 1.4; }
    .content-application .loan-history h4 {
      margin-bottom: 10px; }
    .content-application .loan-history p:first-child {
      display: flex;
      justify-content: space-between; }
  .content-application .mb-20 {
    margin-bottom: 20px; }
  .content-application .mb-10 {
    margin-bottom: 10px; }
